<h1 class="center">Contact Us</h1>
<h3 class="center">Please contact Bloggy Blogs about any questions you have.</h3>
<br/>
<div class="border contact-jumbotron">
  <p class="center">Phone: 123-456-7890</p>
  <p class="center">Email: bloggyblogs@example.com</p>
  <br/>
  <%= render 'back' %>
</div>




