<h1 class="center">Cat Blogs Home</h1>
<h2 class="center">All blogs:</h2>

<div>
  <% @users.each do |user| %>
    <div class="styles border blogs-jumbotron">
      <h3><%= user.username %></h3>
      <br/>
      <div>
        <%= link_to 'Read', posts_path, class: "btn btn-xs btn-success" %>
      </div>
    </div>
  <% end %>
</div>
