<h1 class="center">Contact Us</h1>
<h2 class="center">Please contact Cat Blogs about any questions you have.</h2>

<div class="styles border center contact-jumbotron">
  <p class="center">Phone: 123-456-7890</p>
  <p class="center">Email: cat.blogs@example.com</p>
</div>




