<h1 class="center">Contact Us</h1>
<h2 class="center">Please contact Cat-egorically Blogging about any questions you have.</h2>
<br/><br/><br/><br/>
<div class="styles border center contact-jumbotron">
	<br/>
  <p class="center">Email: katie.dunayczan@gmail.com</p>
  <br/>
</div>
<br/>




