<h1>Katie's Blog</h1>

<%= link_to image_tag('home.svg', width: '40'), root_path %>
<%= link_to image_tag('about.svg', width: '40'), about_path %>
<%= link_to image_tag('contact.png', width: '40'), contact_path %>

<h3>Contact</h3>

<ul>
  <li>Email: Katie@example.com </li>
  <br>
  <li>Phone: 123-456-7890 </li>
</ul>
