<h1>Katie's Blog</h1>

<%= link_to image_tag('home.svg', width: '40'), root_path %>
<%= link_to image_tag('about.svg', width: '40'), about_path %>
<%= link_to image_tag('contact.png', width: '40'), contact_path %>

<h3>Blogs</h3>

<ul>
  <li>
    <div>Blog 1</div>
    <p>There worse by an of miles civil. Manner before lively wholly am mr indeed expect. Among every merry his yet has her. You mistress get dashwood children off. Met whose marry under the merit. In it do continual consulted no listening. Devonshire sir sex motionless travelling six themselves. So colonel as greatly shewing herself observe ashamed. Demands minutes regular ye to detract is.</p>
  </li>
  <br>
  <li>
    <div>Blog 2</div>
    <p>Your it to gave life whom as. Favourable dissimilar resolution led for and had. At play much to time four many. Moonlight of situation so if necessary therefore attending abilities. Calling looking enquire up me to in removal. Park fat she nor does play deal our. Procured sex material his offering humanity laughing moderate can. Unreserved had she nay dissimilar admiration interested. Departure performed exquisite rapturous so ye me resources.</p>
  </li>
  <br>
  <li>
    <div>Blog 3</div>
    <p>In to am attended desirous raptures declared diverted confined at. Collected instantly remaining up certainly to necessary as. Over walk dull into son boy door went new. At or happiness commanded daughters as. Is handsome an declared at received in extended vicinity subjects. Into miss on he over been late pain an. Only week bore boy what fat case left use. Match round scale now sex style far times. Your me past an much. </p>
  </li>
</ul>
