<h1 class="center">Welcome to Project #1</h1>
<h2 class="center">By: Katie Dunayczan</h2>

<div class="styles border center welcome-jumbotron">
  <h3 class="center">Blogging App</h3>
  <p class="center">This app has been made with Ruby on Rails.</p>
</div>
<div class="styles border center home-jumbotron">
  <p class="center">List of skills learned through making this app:</p>
  <p>HTML and CSS</p>
  <p>Ruby</p>
  <p>Embedded Ruby</p>
  <p>Models</p>
  <p>Views</p>
  <p>Controllers</p>
  <p>Migrations</p>
  <p>Validations</p><
  <p>Associations</p>
  <p>Active Record</p>
  <p>Partials</p>
  <p>Styling with Bootstrap</p>
  <p>Pagination</p>
</div>
<div class="center"><%= link_to 'View Blog App', posts_path, class: "btn btn-default btn-lg"%></div>


