<h1 class="center">Welcome to Cat-agorically Blogging</h1>
<h2 class="center">a place for cat lovers</h2>

<div class="styles border center welcome-jumbotron">
</div>
<div class="center"><%= link_to 'Sign Up Now', signup_path, class: "btn btn-default btn-lg"%></div>



