<h1>Welcome to Project #1</h1>
<h3>By: Katie Dunayczan</h3>
<hr>
<h2>Blog App</h2>
<p>This app has been made with Ruby on Rails.</p>
<p>List of skills learned through making this app:</p>
<ul>
  <li>Models</li>
  <li>Migrations</li>
  <li>Validations</li>
  <li>Controllers</li>
  <li>Views</li>
  <li>Partials</li>
</ul>

<div><%= link_to 'View Blog App', blogs_path %></div>
