<h1 class="center">Cat-agorically Blogging</h1>
<h2 class="center">All Posts:</h2>
<div align="center">
	<%= will_paginate %>
</div>
<%= render 'list', obj: @posts %>
<div align="center">
	<%= will_paginate %>
</div>







