<h1 class="center">Cat Blogs</h1>
<h2 class="center">All Posts by all Cat Bloggers:</h2>
<div align="center">
	<%= will_paginate %>
</div>
<%= render 'list', obj: @posts %>
<div align="center">
	<%= will_paginate %>
</div>







