@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.border {
  box-shadow: -1px 5px 10px 1px #2C3030;
}

.alert-success {
  text-align: center;
  margin-left: 80px;
  margin-right: 70px;
  list-style: none;
}

.alert-danger {
  list-style: none;
}

body {
  background: linear-gradient(#4CAC67, #DFFCFE);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
}

#back-link {
  margin-left: 10px;
}

.form-back {
  margin-left: 20px;
}

.img-responsive {
  float: right;
}

.paw {
  float: left;
  margin-top: 20px;
  margin-left: -180px;
  width: 200px;
}

///Navigation///

.navbar-default {
  background-color: #2C3030;
  height: 80px;
  border-color: #2C3030;
}

.navbar-nav {
  margin-top: 15px;
}

#logo {
  padding: 15px 15px 15px 0px;
  margin: 15px 0px 0px 10px;
  font-family: 'Roboto Condensed', sans-serif;
  float: left;
  font-size: 2em;
  color: #39C552;
  text-shadow: 1px 1px #000;
  letter-spacing: -0.5px;
  font-weight: bold;
  text-decoration: none;
}

#link, #link:hover {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  color: #FAFAF9;
  letter-spacing: 1px;
  text-decoration: none;
}

///Footer///

.footer {
  margin-top: 20px;
}

#footer-link, #footer-link:hover {
  padding-right: 235px;
  text-decoration: none;
  display: inline;
}

#footer-links {
  list-style: none;
  float: right;
}

small {
  padding-left: 250px;
  float: left;
}

///Jumbotrons///

.welcome-jumbotron {
  padding-top: 10px;
  margin: 50px 200px 0px 200px;
  background-color: #FAFAF9;
  border-radius: 10px;
}

.home-jumbotron {
  padding: 20px 0px 20px 0px;
  margin: 20px 200px 20px 200px;
  background-color: #FAFAF9;
  border-radius: 10px;
}

.list-jumbotron {
  padding: 1px 0px 10px 25px;
  margin: 0px 75px 25px 80px;
  background-color: #FAFAF9;
  border-radius: 30px 10px;
}

.about-jumbotron {
  padding:20px;
  margin: 0px 75px 10px 80px;
  background-color: #FAFAF9;
  border-radius: 10px;
}
.show-jumbotron {
  padding: 20px;
  margin: 30px 75px 0px 80px;
  background-color: #FAFAF9;
  border-radius: 10px;
}

.contact-jumbotron {
  padding: 20px 0px 20px 0px;
  margin: 20px 200px 20px 200px;
  background-color: #FAFAF9;
  border-radius: 10px;
}

.form-jumbotron {
  padding-top: 20px;
  margin: 30px 70px 30px 80px;
  background-color: #FAFAF9;
  border-radius: 10px;
}

.blogs-jumbotron {
  padding: 1px 0px 10px 25px;
  margin: 20px 75px 25px 80px;
  background-color: #FAFAF9;
  border-radius: 30px 10px;
}

///Buttons///

.btn-primary {
  color: #FAFAF9;
  background-color: #2471A3;
  border-color: #2471A3;
  margin-bottom: 10px;
  box-shadow: 0.5px 0.5px 0px 1px #2C3030;
  text-shadow: 0.5px 0.5px #2C3030;
}

.btn-default {
  color: #FAFAF9;
  background-color: #39C552;
  border-color: #39C552;
  margin-bottom: 10px;
  box-shadow: 0.5px 0.5px 0px 1px #2C3030;
  text-shadow: 0.5px 0.5px #2C3030;
}

.btn-success, .btn-danger {
  color: #FAFAF9;
  margin-bottom: 10px;
  box-shadow: 0.5px 0.5px 0px 1px #2C3030;
  text-shadow: 0.5px 0.5px #2C3030;
}

///Text///

h1 {
  color: #1B1E1E;
  text-shadow: 1px 1px #C9D6CD;
  font-size: 3.5em;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  color: #1B1E1E;
  text-shadow: 0.5px 0.5px #C9D6CD;
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
}

h3 {
  color: #2C3030;
  font-size: 1.75em;
  letter-spacing: -1px;
  font-family: 'Droid Sans', sans-serif;
}

p {
  color: #2C3030;
  font-size: 1.25em;
  text-decoration: none;
  font-family: 'Droid Sans', sans-serif;
}

.form-text {
  color: #2C3030;
  font-size: 1.25em;
  font-family: 'Droid Sans', sans-serif;
}

#back-link {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25em;
  color: #2C3030;
  letter-spacing: 1px;
}

#footer-link, #footer-link:hover, small {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.20em;
  color: #2C3030;
  letter-spacing: 1px;
}




