@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.border {
  box-shadow: -1px 5px 10px 1px #2C3030;
}

.styles {
  padding: 1px 20px 10px 20px;
  margin: 0px 75px 10px 80px;
  background-color: #FAFAF9;
}

.alert-success {
  text-align: center;
  margin-left: 80px;
  margin-right: 70px;
  list-style: none;
}

.alert-danger {
  list-style: none;
}

body {
  background-image: url("catwallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#back-link {
  float: left;
}

///Navigation///

.navbar-default {
  background-color: #2C3030;
  border-color: #2C3030;
}

#logo {
  font-family: 'Roboto Condensed', sans-serif;
  float: left;
  font-size: 2em;
  color: #43E7F7;
  text-shadow: 1px 1px #000;
  letter-spacing: -0.5px;
  font-weight: bold;
  text-decoration: none;
}

#link, #link:hover {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  color: #FAFAF9;
  letter-spacing: 1px;
  text-decoration: none;
}

///Footer///

.footer {
  margin-top: 20px;
}

#footer-link, #footer-link:hover {
  padding-right: 235px;
  text-decoration: none;
  display: inline;
}

#footer-links {
  list-style: none;
  float: right;
}

.copyright {
  padding-left: 250px;
  float: left;
}

///Jumbotrons///

.welcome-jumbotron, .home-jumbotron, .about-jumbotron, .show-jumbotron, .contact-jumbotron, .form-jumbotron {
  border-radius: 10px;
}

.list-jumbotron, .blogs-jumbotron {
  border-radius: 30px 10px;
}

///Buttons///

.btn-primary {
  color: #FAFAF9;
  background-color: #2471A3;
  border-color: #2471A3;
  margin-bottom: 10px;
  box-shadow: 0.5px 0.5px 0px 1px #2C3030;
  text-shadow: 0.5px 0.5px #2C3030;
}

.btn-default {
  color: #FAFAF9;
  background-color: #2471A3;
  border-color: #2471A3;
  margin-bottom: 10px;
  box-shadow: 0.5px 0.5px 0px 1px #2C3030;
  text-shadow: 0.5px 0.5px #2C3030;
}

.btn-success, .btn-danger {
  color: #FAFAF9;
  margin-bottom: 10px;
  box-shadow: 0.5px 0.5px 0px 1px #2C3030;
  text-shadow: 0.5px 0.5px #2C3030;
}

///Text///

h1 {
  color: #1B1E1E;
  text-shadow: 1px 1px #43E7F7;
  font-size: 3.5em;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  margin-bottom: 30px;
  color: #1B1E1E;
  text-shadow: 0.5px 0.5px #43E7F7;
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
}

h3 {
  color: #2C3030;
  font-size: 1.75em;
  letter-spacing: -1px;
  font-family: 'Droid Sans', sans-serif;
}

p {
  color: #2C3030;
  font-size: 1.25em;
  text-decoration: none;
  font-family: 'Droid Sans', sans-serif;
}

.post-meta-details {
  border-top: 1px solid #2C3030;
  padding-top: 3px; 
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  color: #2C3030;
  letter-spacing: 1px;
}

.form-text {
  color: #2C3030;
  font-size: 1.25em;
  font-family: 'Droid Sans', sans-serif;
}

#back-link {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25em;
  color: #2C3030;
  letter-spacing: 1px;
}

#footer-link, #footer-link:hover, small {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.20em;
  color: #2C3030;
  letter-spacing: 1px;
}




