$navbar-default-bg: #2471A3;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.border {
  border-bottom: 3px solid #F1948A;
  border-right: 3px solid #F1948A;
}

body {
  background-image: url('crumpledpaper.jpg');
  background-size: cover;
}

#back-link {
  margin-left: 10px;
}

.form-back {
  margin-left: 20px;
}

///Navigation///

.navbar {
  border-bottom: 6px solid #F1948A;
}

#logo {
  font-family: 'Roboto Condensed', sans-serif;
  float: left;
  font-size: 2em;
  color: #F2F4F4;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: none;
}

#link, #link:hover {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  color: #F2F4F4;
  letter-spacing: 1px;
  text-decoration: none;
}

///Footer///

.footer {
  margin-top: 20px;
}

#footer-link, #footer-link:hover {
  padding-right: 235px;
  text-decoration: none;
  display: inline;
}

#footer-links {
  list-style: none;
  float: right;
}

small {
  padding-left: 250px;
  float: left;
}

///Jumbotrons///

.welcome-jumbotron {
  padding-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #F2F4F4;
  opacity: 0.75;
  border-bottom: 3px solid #F1948A;
  border-right: 3px solid #F1948A;
}

.home-jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  background-color: #F2F4F4;
  opacity: 0.75;
  border-bottom: 3px solid #F1948A;
  border-right: 3px solid #F1948A;
}

.list-jumbotron {
  padding-bottom: 10px;
  padding-left: 25px;
  padding-top: 1px;
  margin-left: 80px;
  margin-right: 75px;
  margin-bottom: 25px;
  background-color: #F2F4F4;
  opacity: 0.75;
  border-bottom: 3px solid #F1948A;
  border-right: 3px solid #F1948A;
}

.about-jumbotron {
  padding:20px;
  margin-left: 80px;
  margin-right: 75px;
  margin-bottom: 10px;
  background-color: #F2F4F4;
  opacity: 0.75;
  border-bottom: 3px solid #F1948A;
  border-right: 3px solid #F1948A;
}
.show-jumbotron {
  padding: 20px;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 75px;
  background-color: #F2F4F4;
  opacity: 0.75;
  border-bottom: 3px solid #F1948A;
  border-right: 3px solid #F1948A;
}

.contact-jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  background-color: #F2F4F4;
  opacity: 0.75;
  border-bottom: 3px solid #F1948A;
  border-right: 3px solid #F1948A;
}

.form-jumbotron {
  padding-top: 20px;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 70px;
  margin-bottom: 30px;
  background-color: #F2F4F4;
  opacity: 0.75;
  border-bottom: 3px solid #F1948A;
  border-right: 3px solid #F1948A;
}

///Buttons///

.btn-primary, .btn-primary:hover {
  color: #F2F4F4;
  background-color: #2471A3;
  margin-bottom: 20px;
}

.btn-default, .btn-default:hover {
  color: #F2F4F4;
  background-color: #2471A3;
  margin-bottom: 20px;
}

///Text///

h1 {
  color: #17202A;
  font-size: 3.5em;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

h3 {
  color: #17202A;
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
}

p {
  color: #0E0E0E;
  font-size: 1.25em;
  text-decoration: none;
  font-family: 'Droid Sans', sans-serif;
}

a, a:hover {
  color: #0E0E0E;
  font-size: 0.90em;
  text-decoration: none;
  font-family: 'Droid Sans', sans-serif;
}

.form-text {
  color: #17202A;
  font-size: 1.25em;
  font-family: 'Droid Sans', sans-serif;
}

#back-link {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25em;
  color: #17202A;
  letter-spacing: 1px;
}

#footer-link, #footer-link:hover, small {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.20em;
  color: #17202A;
  letter-spacing: 1px;
}




