<div class="footer-container">
  <footer class="footer">
    <small>
      Copyright &copyCatBlogs
      BY: Katie Dunayczan
    </small>
    <nav class="footer">
      <ul id="footer-links">
        <li><%= link_to 'CONTACT', pages_contact_path, id: "footer-link" %></li>
      </ul>
    </nav>
  </footer>
</div>
