<div class="footer-container">
  <footer class="footer">
    <div class="center copyright">
      <small>
        Copyright &copyCat-egoricallyBlogging
        BY: Katie Dunayczan
      </small>
      <br/>
    </div>
    <div id="footer-links" class="center">
      <%= link_to 'CONTACT', pages_contact_path, id: "footer-link" %>
    </div>
    <br/><br/>
  </footer>
</div>
